body {
	height: 100%;
}

.sepaGroup {
	height: 100%;
	min-height: 600px;
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 0px;
}
.addButton {
	position: fixed;
	font-size: 40px;
	/*color: blue;*/
	right: 40px;
	top: 40px;
	z-index: 1;
	text-align: center;
	padding: 0;
	background-color: white;
	border-radius: 50%;
	color: rgb(255,40,104);
	height: 36px;
	width: 36px;
	/*box-shadow: 2px 2px 2px 2px rgba(255,40,104,30);*/
	/*line-height: 46px;*/
}

#notShow {
	display: none;
	position: fixed;

	background-color: white;
	float: right;
	border-radius: 8px;
	box-shadow: 2px 2px 6px 2px rgb(230,230,230);
	
	width: 20%;
	min-width: 200px;
	right: 50px;
	top: 50px;
	z-index: 0;
	padding: 20px 10px;
}



.formLabel {
	display: block;
	/*height: 40px;*/
	width: 80%;
	margin: 15px 30px 5px 30px;
}

.inputShort {
	display: block;
	width: 80%;
	line-height: 25px;
	margin: 5px auto;
	border: none;
	border-radius: 4px;
	background-color: rgb(235,235,235);
}

.inputLong {
	display: block;
	width: 80%;
	margin: 5px auto;
	border: none;
	border-radius: 4px;
	background-color: rgb(235,235,235);
}

.radioLine {
	/*display: inline;*/
	
	/*margin: 3px 10px;*/
}

.radioGroup {
	width: 80%;
	margin: 5px auto;
}

.clearFix {
	clear: both;
}

.button {
	text-align: center;
	margin: 15px;
}

button {
	background-color: rgb(255,40,104);
	width: 30%;
	height: 30px;
	color: white;
	font-weight: border;
	border: none;
	min-width: 80px;
	border-radius: 3px;
}

ul {
	list-style: none;
	margin: 0px;
	padding: 0px;
}
.sepaBG {
	padding: 10px;
	
}

h4 {
	font-size: 16px;
	font-weight: bold;
	margin:5px 5px;
}

